

<div class="container">

  <button   #myButton1 (click)="handleButtonClick(myButton1.innerText)">ما هو الموقع الجغرافي لبلاد المغرب</button>
  <button  #myButton2 (click)="handleButtonClick(myButton2.innerText)">ما هي أقدم جامعة في العالم؟ وأين توجد؟</button>
  <button  #myButton3 (click)="handleButtonClick(myButton3.innerText)">أين يوجد أكبر مسجد في شمال إفريقيا؟  وما هو الاسم الأشهر له؟</button>
  <button  #myButton4 (click)="handleButtonClick(myButton4.innerText)">ما هي اللغة الأكثر انتشارًا في بلاد المغرب؟</button>
</div>